# Font size is per-machine: .font_size lives in [data] of
# ~/.config/chezmoi/chezmoi.toml, derived from the role prompt alongside .scale.
# Rendered pixels = size * 4/3 * <compositor scale>; this host is
# role={{ .role }} at scale {{ .scale }}.
#
# Terminess is the outline build of Terminus. The bitmap original existed only
# at 12/14/16/18/20/22/24/28/32px and silently snapped to the nearest strike,
# which is why changing size used to break the rendering. Any size is fine here.

[font]
size = {{ .font_size }}

[font.normal]
family = "Terminess Nerd Font Mono"
style = "Regular"

[font.bold]
family = "Terminess Nerd Font Mono"
style = "Bold"

[font.italic]
family = "Terminess Nerd Font Mono"
style = "Italic"

[font.bold_italic]
family = "Terminess Nerd Font Mono"
style = "Bold Italic"

[window.padding]
x = 16
y = 16

# enfocado_dark -- https://github.com/wuelnerdotexe/vim-enfocado
[colors.primary]
background = '#181818'
foreground = '#b9b9b9'

[colors.normal]
black   = '#3b3b3b'
red     = '#ed4a46'
green   = '#70b433'
yellow  = '#dbb32d'
blue    = '#368aeb'
magenta = '#eb6eb7'
cyan    = '#3fc5b7'
white   = '#b9b9b9'

[colors.bright]
black   = '#777777'
red     = '#ff5e56'
green   = '#83c746'
yellow  = '#efc541'
blue    = '#4f9cfe'
magenta = '#ff81ca'
cyan    = '#56d8c9'
white   = '#dedede'
